/*
@theme moja-citrus
@author Akira Shinohara
*/

/* M PLUS 1p from Google Fonts */
@import "https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap&subset=japanese";
@import "default";

section {
  color: saddlebrown;
  font-family: "Noto Sans JP";
  font-weight: 400;
  font-size: 20pt;

  width: 1280px;
  height: 720px;
  justify-content: normal;
  padding: 40px;

  background-color: lemonchiffon;
  background-image: url("https://user-images.githubusercontent.com/34061817/85927279-fa03eb00-b8df-11ea-8fc1-1d213c539b9d.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 32%;
}

h1 {
  color: chocolate;
  font-size: 2em;
  font-weight: bold;
  border-bottom: dashed 4px orange;
}

h1::before {
  content: "";
  display: inline-block;
  background-image: url("https://twemoji.maxcdn.com/2/svg/1f34a.svg");
  margin: 0 0.1em;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

h2 {
  color: chocolate;
  font-size: 1.5em;
  font-weight: bold;
}

h3,
h4,
h5,
h6 {
  color: chocolate;
  font-size: 1em;
  font-weight: bold;
}

em {
  color: chocolate;
  font-weight: bold;
  font-style: normal;
}

pre,
code {
  border: solid 2px orange;
  border-radius: 10px;
  background-color: moccasin;
}

section.cover {
  justify-content: center;
  text-align: center;
}

section.cover > h1 {
  margin: 0px;
  font-size: 3em;
}

section.cover > h2 {
  margin: 0px;
  font-size: 2.5em;
}
