/*
@theme moja-gecko
@author Ryota Kobayashi
*/

/* M PLUS 1p from Google Fonts */
@import "https://fonts.googleapis.com/css?family=M+PLUS+1p:400,500&display=swap&subset=japanese";
@import "default";

section {
  background-color: #f2f2f2;
  justify-content: normal;
  font-size: 20pt;
  padding: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

h1 {
  text-align: center;
  border-bottom: solid 8px;
  margin-bottom: 75px;
}

strong {
  background-color: yellow;
}

section.cover {
  justify-content: center;
  text-align: center;
  background-color: #9bafb5;
}

section.cover h1 {
  font-size: 48pt;
}

section.cover h2 {
  margin-top: 100px;
  color: white;
  border-bottom: none;
  font-weight: normal;
}

section.back-cover {
  background-color: #f6a21d;
  text-align:center;
  padding: 20px;
  margin: none;
}

section.back-cover h2 {
  color: black;
  font-size: 36pt;
  font-weight: 700;
  border-bottom: none;
}

section.back-cover img {
  width: 70%;
  height: auto;
}
